/*
 *= require 'reset'
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Paprika);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body
{
  background-color: #dddddd;
  color: #333333;
  font-family: 'Poiret One', cursive;
  font-size: 15px;
}


header, nav, #content, footer
{
  padding: 10px;
}

header
{
  background: #ffffff url(/assets/food.jpg) 0px 0px no-repeat;
  font-family: 'Paprika', cursive;
  font-size: 50px;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  letter-spacing: 10px;
}

footer
{
  margin-top: 50px;
  font-size: 11px;
}

nav
{
  margin-bottom: 20px;
}

h1
{
  margin-bottom: 15px;
  font-weight: bold;
}

a
{
  padding: 0px 5px 0px 5px;
  border: 1px dashed #dddddd;
  font-family: 'Cutive Mono', serif;
  font-size: 15px;
  color: #009900;
  text-decoration: none;
}

a:hover
{
  color: #990099;
  border: 1px dashed #990099;
}

p
{
  padding: 5px 0px 5px 0px;
}

.errors
{
  color: #990000;
  margin-bottom: 10px;
}

.errors li:before
{
  content: "\00BB \0020";
}

.field label
{
  display: block;
}

.field
{
  margin-bottom: 10px;
}

.field textarea, .field input[type='text'], .field input[type='number']
{
  width: 250px;
}

.field img
{
  width: 100px;
  height: 100px;
}

.field textarea
{
  height: 100px;
}

.dish img
{
  border: 1px solid #333333;
  height: 200px;
  width: 200px;
}

.links
{
  margin-top: 20px;
}
